<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DuoArena Stats</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <main class="container">

        <a href="/" class="back">← DuoArena</a>

        <h1>Statistics</h1>

        <div class="placeholder">
            Здесь позже будет история матчей.
        </div>

    </main>

</body>
</html>
